Repository TundraSoft/TundraLibs: changes, and which Codecov flags are due for each by the changed paths.
All: crypt, guardian, id, restler, utils, cacher, dam, slogger, vaccine, pact, norm, oql, RESTler

codecov.yml:

ignore:
  - '**/tests/**/*.ts'
  - '**/**.bench.ts'
  - '**/**.test.ts'
  - '**/fixtures/**/**'
  - .github/**
coverage:
  precision: 2
  round: down
  range: 70...90
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 70%
        threshold: 5%
    changes: true
comment:
  layout: 'reach, diff, flags, files, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 1
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: crypt
      name: crypt
      paths:
        - crypt/**.ts
        - '!crypt/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: guardian
      name: guardian
      paths:
        - guardian/**.ts
        - '!guardian/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: id
      name: id
      paths:
        - id/**.ts
        - '!id/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: restler
      name: RESTler
      paths:
        - restler/**.ts
        - '!restler/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: utils
      name: utils
      paths:
        - utils/**.ts
        - '!utils/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: cacher
      name: cacher
      paths:
        - cacher/**.ts
        - '!cacher/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: dam
      name: dam
      paths:
        - dam/**.ts
        - '!dam/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: slogger
      name: slogger
      paths:
        - slogger/**.ts
        - '!slogger/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: vaccine
      name: vaccine
      paths:
        - vaccine/**.ts
        - '!vaccine/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: pact
      name: pact
      paths:
        - pact/**.ts
        - '!pact/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: norm
      name: norm
      paths:
        - norm/**.ts
        - '!norm/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: oql
      name: oql
      paths:
        - oql/**.ts
        - '!oql/**.test.ts'
      statuses:
        - type: project
          target: 75%
flags:
  crypt:
    paths:
      - crypt/
    carryforward: true
  guardian:
    paths:
      - guardian/
    carryforward: true
  id:
    paths:
      - id/
    carryforward: true
  restler:
    paths:
      - restler/
    carryforward: true
  utils:
    paths:
      - utils/
    carryforward: true
  cacher:
    paths:
      - cacher/
    carryforward: true
  dam:
    paths:
      - dam/
    carryforward: true
  slogger:
    paths:
      - slogger/
    carryforward: true
  vaccine:
    paths:
      - vaccine/
    carryforward: true
  pact:
    paths:
      - pact/
    carryforward: true
  norm:
    paths:
      - norm/
    carryforward: true
  oql:
    paths:
      - oql/
    carryforward: true

Export issue in cacher
  cacher/mod.ts
Due: cacher

Fix workflow for testing
  .github/workflows/test.yaml
Due: none

Updates
  cacher/engines/memcached/Cacher.test.ts
  cacher/engines/memcached/Cacher.ts
  cacher/engines/redis/Cacher.test.ts
  cacher/engines/redis/Cacher.ts
  crypt/OTP.ts
  crypt/encrypt.ts
  crypt/sign.ts
  guardian/tests/BaseGuardian.test.ts
Due: crypt, cacher

Updates
  guardian/guards/Object.ts
  slogger/formatters/binaryFormatter.ts
  slogger/formatters/formatters.bench.ts
  slogger/formatters/maskingFormatter.ts
  slogger/formatters/mod.ts
  slogger/handlers/AbstractHandler.ts
  slogger/handlers/handler/FileHandler.test.ts
  slogger/handlers/handler/FileHandler.ts
Due: guardian, slogger

Make interim release
  guardian/guards/Object.ts
  guardian/tests/guards/Object.test.ts
  restler/RESTler.ts
  restler/types/Events.ts
Due: guardian, restler, RESTler

dev3 build
  cacher/Cacher.ts
  cacher/deno.json
  cacher/errors/EngineErrorCodes.ts
  crypt/JWT.bench.ts
  crypt/JWT.test.ts
  crypt/JWT.ts
  crypt/deno.json
  guardian/deno.json
  id/deno.json
  restler/deno.json
  slogger/deno.json
  utils/BaseError.ts
  utils/Config.ts
  utils/deno.json
  utils/mod.ts
Due: crypt, guardian, id, restler, utils, cacher, slogger

Fix Guardian tests and add auth key in options for RESTler
  cacher/deno.json
  crypt/deno.json
  guardian/GuardianError.ts
  guardian/deno.json
  guardian/tests/GuardianError.test.ts
  guardian/tests/guards/Array.test.ts
  guardian/tests/guards/Object.test.ts
  restler/RESTler.ts
  restler/deno.json
  restler/tests/RESTler.test.ts
  restler/types/Auth.ts
  restler/types/Endpoint.ts
  restler/types/Options.ts
  restler/types/mod.ts
Due: crypt, guardian, restler, cacher, RESTler

fix restler issue where auth token provided in constructor is not being used
  restler/RESTler.ts
  restler/deno.json
Due: restler, RESTler

Fixes
  crypt/deno.json
  crypt/mod.ts
  guardian/guards/Object.ts
  guardian/tests/guards/Object.test.ts
  restler/RESTler.ts
Due: crypt, guardian, restler, RESTler

1.0.0-dev4
  crypt/JWT.ts
  crypt/deno.json
  guardian/deno.json
  id/deno.json
  restler/deno.json
Due: crypt, guardian, id, restler

Handle guardian error more elegantly for nested objects
  guardian/GuardianError.ts
  guardian/deno.json
  guardian/tests/guards/Object.test.ts
Due: guardian

Update RESTler.ts
  restler/RESTler.ts
Due: restler, RESTler

Fix guardian
  guardian/BaseGuardian.ts
  guardian/Guardian.ts
  guardian/README.md
  guardian/guards/Unknown.ts
  guardian/guards/mod.ts
  guardian/helpers/mod.ts
  guardian/helpers/optional.ts
  guardian/tests/BaseGuardian.test.ts
  guardian/tests/guards/Array.test.ts
  guardian/tests/guards/Unknown.test.ts
  guardian/tests/helpers/optional.test.ts
  guardian/types/GuardianType.ts
Due: guardian

Guardian updates
  guardian/TODO.md
  guardian/deno.json
  guardian/guards/Object.ts
  guardian/tests/guards/Object.test.ts
Due: guardian

Update guardian
  guardian/BaseGuardian.ts
  guardian/README.md
  guardian/deno.json
  guardian/helpers/mod.ts
  guardian/helpers/nullable.ts
  guardian/helpers/optional.ts
  guardian/tests/BaseGuardian.test.ts
  guardian/tests/guards/Unknown.test.ts
  guardian/tests/helpers/nullable.test.ts
  guardian/tests/helpers/optional.test.ts
  guardian/types/GuardianType.ts
Due: guardian

Fix guardian nullable and optional, add serialize and parse
  guardian/BaseGuardian.ts
  guardian/Guardian.ts
  guardian/deno.json
  guardian/examples/json-schema.ts
  guardian/helpers/mod.ts
  guardian/helpers/nullable.ts
  guardian/mod.ts
  guardian/parse.ts
  guardian/serialize.ts
  guardian/tests/BaseGuardian.test.ts
  guardian/tests/guards/Unknown.test.ts
  guardian/tests/helpers/nullable.test.ts
  guardian/tests/json-schema.test.ts
  guardian/types/GuardianSchema.ts
  guardian/types/GuardianType.ts
  guardian/types/mod.ts
Due: guardian

Guardian - With openAPI spec
  guardian/BaseGuardian.ts
  guardian/OPENAPI.md
  guardian/deno.json
  guardian/examples/api-demo.ts
  guardian/examples/json-schema.ts
  guardian/examples/openapi-demo.ts
  guardian/guards/Array.ts
  guardian/guards/BigInt.ts
  guardian/guards/Boolean.ts
  guardian/guards/Date.ts
  guardian/guards/Function.ts
  guardian/guards/Number.ts
  guardian/guards/Object.ts
  guardian/guards/String.ts
  guardian/guards/Unknown.ts
  guardian/mod.ts
  guardian/tests/BaseGuardian.test.ts
  guardian/types/GuardianType.ts
  guardian/types/OpenAPISchema.ts
  guardian/types/mod.ts
Due: guardian

Fixes in type and Unknown test
  guardian/deno.json
  guardian/examples/api-demo.ts
  guardian/examples/json-schema.ts
  guardian/examples/openapi-demo.ts
  guardian/tests/guards/Unknown.test.ts
  guardian/types/GuardianType.ts
Due: guardian

Guardian updates FTW
  guardian/Guardian.ts
  guardian/deno.json
  guardian/guards/Object.ts
  guardian/guards/Schema.ts
  guardian/guards/mod.ts
  guardian/mod.ts
  guardian/parse.ts
  guardian/serialize.ts
  guardian/tests/Guardian.test.ts
  guardian/tests/guards/Object.test.ts
  guardian/tests/guards/Schema.test.ts
  guardian/tests/parse.test.ts
Due: guardian

github changes
  .github/ISSUE_TEMPLATE/issue.bug.yml
  .github/ISSUE_TEMPLATE/issue.documentation.yml
  .github/ISSUE_TEMPLATE/issue.feature.yml
  .github/ISSUE_TEMPLATE/issue.performance.yml
  .github/copilot-instructions.md
  .github/labeler.yml
  .github/workflows/benchmark.yaml
  .github/workflows/edge-release.yaml
  .github/workflows/pr-title.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/test.yaml
  .github/workspace.ts
Due: none

Fix async issue in guardian
  .github/copilot-instructions.md
  guardian/BaseGuardian.ts
Due: guardian

Guardian fixes
  .docs/WorkflowTesting.md
  guardian/BaseGuardian.ts
  guardian/guards/ArrayGuardian.ts
  guardian/guards/BigIntGuardian.ts
  guardian/guards/BooleanGuardian.ts
  guardian/guards/DateGuardian.ts
  guardian/guards/EnumGuardian.ts
  guardian/guards/NumberGuardian.ts
  guardian/guards/StringGuardian.ts
  guardian/guards/UnknownGuardian.ts
  guardian/mutation-demo.ts
  guardian/performance-benchmark.ts
  guardian/verify-async-fix.ts
Due: guardian

Infer, oneOf, and Guardian main class
  guardian/BaseGuardian.ts
  guardian/Guardian.ts
  guardian/mod.ts
  guardian/types/Infer.ts
  guardian/types/mod.ts
Due: guardian

guardian completed
  guardian/GuardianError.ts
  guardian/guards/ObjectGuardian.ts
  guardian/guards/UnknownGuardian.ts
  guardian/mutation-demo.ts
  guardian/performance-benchmark.ts
  guardian/types/Infer.ts
  guardian/verify-async-fix.ts
Due: guardian

Pre-standardization of validation definitions
  guardian/example-object.ts
  guardian/example.ts
  guardian/tests/Guardian.test.ts
  guardian/tests/guards/ArrayGuardian.test.ts
  guardian/tests/guards/BigIntGuardian.test.ts
  guardian/tests/guards/BooleanGuardian.test.ts
  guardian/tests/guards/DateGuardian.test.ts
  guardian/tests/guards/EnumGuardian.test.ts
  guardian/tests/guards/NumberGuardian.test.ts
  guardian/tests/guards/ObjectGuardian.test.ts
  guardian/tests/guards/StringGuardian.test.ts
  guardian/tests/guards/UnknownGuardian.test.ts
Due: guardian

OpenAPI and markdown doc support
  guardian/BaseGuardian.ts
  guardian/Guardian.ts
  guardian/README.md
  guardian/guards/ArrayGuardian.ts
  guardian/guards/BigIntGuardian.ts
  guardian/guards/BooleanGuardian.ts
  guardian/guards/DateGuardian.ts
  guardian/guards/EnumGuardian.ts
  guardian/guards/NumberGuardian.ts
  guardian/guards/ObjectGuardian.ts
  guardian/guards/StringGuardian.ts
  guardian/guards/UnknownGuardian.ts
  guardian/mod.ts
  guardian/tests/Guardian.test.ts
  guardian/tests/guards/ArrayGuardian.test.ts
  guardian/tests/guards/StringGuardian.test.ts
  guardian/tests/guards/UnknownGuardian.test.ts
Due: guardian

Improvements in tests and transformations. Also updated how meta information is stored.
  guardian/BaseGuardian.ts
  guardian/Guardian.ts
  guardian/guards/ArrayGuardian.ts
  guardian/guards/BigIntGuardian.ts
  guardian/guards/BooleanGuardian.ts
  guardian/guards/DateGuardian.ts
  guardian/guards/NumberGuardian.ts
  guardian/guards/ObjectGuardian.ts
  guardian/guards/StringGuardian.ts
  guardian/guards/UnknownGuardian.ts
  guardian/tests/guards/NumberGuardian.test.ts
  guardian/tests/guards/StringGuardian.test.ts
  guardian/types/MetaData.ts
Due: guardian

Added more validations and mutations to Array, Bigint and Date
  guardian/guards/ArrayGuardian.ts
  guardian/guards/BigIntGuardian.ts
  guardian/guards/DateGuardian.ts
  guardian/guards/ObjectGuardian.ts
  guardian/tests/guards/ArrayGuardian.test.ts
  guardian/tests/guards/BigIntGuardian.test.ts
  guardian/tests/guards/DateGuardian.test.ts
Due: guardian

1.0.0 build ready with updated documentation
  guardian/BaseGuardian.ts
  guardian/Guardian.ts
  guardian/GuardianError.ts
  guardian/README.md
  guardian/deno.json
  guardian/guards/ArrayGuardian.ts
  guardian/guards/BigIntGuardian.ts
  guardian/guards/BooleanGuardian.ts
  guardian/guards/DateGuardian.ts
  guardian/guards/EnumGuardian.ts
  guardian/guards/NumberGuardian.ts
  guardian/guards/ObjectGuardian.ts
  guardian/guards/StringGuardian.ts
  guardian/helpers/equals.ts
  guardian/helpers/isIn.ts
  guardian/helpers/isNotIn.ts
  guardian/helpers/notEquals.ts
  guardian/mod.ts
  guardian/tests/BaseGuardian.nullable-optional.test.ts
  guardian/tests/guards/ObjectGuardian.test.ts
Due: guardian

Benchmarks and zod comparison
  guardian/BaseGuardian.ts
  guardian/Guardian.ts
  guardian/guards/ObjectGuardian.ts
  guardian/guards/UnknownGuardian.ts
  guardian/tests/guardian-vs-zod.bench.ts
  guardian/tests/guardian-zod-comparison.test.ts
  guardian/tests/guardian.bench.ts
Due: guardian

Final build
  guardian/BaseGuardian.ts
  guardian/tests/BaseGuardian.test.ts
  guardian/tests/guards/ArrayGuardian.test.ts
  guardian/tests/guards/BigIntGuardian.test.ts
  guardian/tests/guards/BooleanGuardian.test.ts
  guardian/tests/guards/DateGuardian.test.ts
  guardian/tests/guards/EnumGuardian.test.ts
  guardian/tests/guards/NumberGuardian.test.ts
  guardian/tests/guards/StringGuardian.test.ts
  guardian/tests/guards/UnknownGuardian.test.ts
Due: guardian

Guardian closure
  guardian/BaseGuardian.ts
  guardian/Guardian.ts
  guardian/GuardianError.ts
  guardian/README.md
  guardian/guards/ArrayGuardian.ts
  guardian/guards/BigIntGuardian.ts
  guardian/guards/BooleanGuardian.ts
  guardian/guards/DateGuardian.ts
  guardian/guards/EnumGuardian.ts
  guardian/guards/NumberGuardian.ts
  guardian/guards/ObjectGuardian.ts
  guardian/guards/StringGuardian.ts
  guardian/guards/UnknownGuardian.ts
  guardian/helpers/isIn.ts
  guardian/tests/BaseGuardian.test.ts
  guardian/tests/Guardian.test.ts
  guardian/tests/guardian-vs-zod.bench.ts
  guardian/tests/guardian-zod-comparison.test.ts
  guardian/tests/guardian.bench.ts
  guardian/tests/guards/ArrayGuardian.test.ts
  guardian/tests/guards/BigIntGuardian.test.ts
  guardian/tests/guards/BooleanGuardian.test.ts
  guardian/tests/guards/DateGuardian.test.ts
  guardian/tests/guards/EnumGuardian.test.ts
  guardian/tests/guards/NumberGuardian.test.ts
  guardian/tests/guards/ObjectGuardian.test.ts
  guardian/tests/guards/StringGuardian.test.ts
  guardian/tests/guards/UnknownGuardian.test.ts
Due: guardian

Cacher review & improve test cases
  cacher/AbstractEngine.test.ts
  cacher/AbstractEngine.ts
  cacher/Cacher.test.ts
  cacher/Cacher.ts
  cacher/deno.json
  cacher/engines/memcached/Cacher.test.ts
  cacher/engines/memcached/Cacher.ts
  cacher/engines/memcached/mod.ts
  cacher/engines/memcached/types/Options.ts
  cacher/engines/memcached/types/mod.ts
  cacher/engines/memory/Cacher.test.ts
  cacher/engines/memory/Cacher.ts
  cacher/engines/memory/mod.ts
  cacher/engines/memory/types/Options.ts
  cacher/engines/memory/types/mod.ts
  cacher/engines/mod.ts
  cacher/engines/redis/Cacher.test.ts
  cacher/engines/redis/Cacher.ts
  cacher/engines/redis/mod.ts
  cacher/engines/redis/types/Options.ts
  cacher/engines/redis/types/mod.ts
  cacher/errors/Base.test.ts
  cacher/errors/Base.ts
  cacher/errors/EngineError.test.ts
  cacher/errors/EngineError.ts
  cacher/errors/EngineErrorCodes.ts
  cacher/errors/mod.ts
  cacher/mod.ts
  cacher/types/Value.ts
  cacher/types/mod.ts
Due: cacher
