Repository TundraSoft/TundraLibs: changes, and which Codecov flags are due for each by the changed paths.
All: crypt, guardian, id, restler, utils, RESTler

codecov.yml:

ignore:
  - '**/tests/**.ts'
  - '**/**.bench.ts'
  - '**/**.test.ts'
  - '**/fixtures/**/**'
  - '.github/**'

# Set coverage thresholds
coverage:
  precision: 2  # Number of decimal places
  round: down   # Round coverage down
  range: "70...90"  # Green to red range
  status:
    project:
      default:
        target: 80%  # Overall project coverage target
        threshold: 1%  # Allow coverage to drop by 1% in PR
    patch:
      default:
        target: 70%  # Target for new code in PRs
        threshold: 5%  # Allow coverage to drop by 5% in PR patches
    changes: yes  # Track only changes in a PR

# Configure PR comments
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false  # Comment even if coverage doesn't change
  require_base: no
  require_head: yes
  after_n_builds: 1

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!main'  # This rule applies to all branches EXCEPT main

  individual_components:
    - component_id: crypt
      name: crypt
      paths:
        - "crypt/**.ts"
        - "!crypt/**.test.ts"  # Exclude test files
      statuses:
        - type: project
          target: 75%

    - component_id: guardian
      name: guardian
      paths:
        - "guardian/**.ts"
        - "!guardian/**.test.ts"
      statuses:
        - type: project
          target: 75%

    - component_id: id
      name: id
      paths:
        - "id/**.ts"
        - "!id/**.test.ts"
      statuses:
        - type: project
          target: 75%

    - component_id: restler
      name: RESTler
      paths:
        - "restler/**.ts"
        - "!restler/**.test.ts"
      statuses:
        - type: project
          target: 75%

    - component_id: utils
      name: utils
      paths:
        - "utils/**.ts"
        - "!utils/**.test.ts"
      statuses:
        - type: project
          target: 75%

# Add explicit flags to help with component identification
flags:
  crypt:
    paths:
      - crypt/
    carryforward: true
  guardian:
    paths:
      - guardian/
    carryforward: true
  id:
    paths:
      - id/
    carryforward: true
  restler:
    paths:
      - restler/
    carryforward: true
  utils:
    paths:
      - utils/
    carryforward: true

Update codecov.yml
  codecov.yml
Due: none

Fix fmt issue
  codecov.yml
Due: none

Add PGPOOL in translator
  norm/QueryTranslator.ts
Due: none

Add memcached service for testing
  .github/ISSUE_TEMPLATE/issue.bug.yml
  .github/labeler.yml
  .github/workflows/pr-title.yaml
  .github/workflows/test.yaml
Due: none

Add delay in test for memcached to account for delays
  cacher/engines/memcached/Cacher.ts
  cacher/tests/MemCacher.test.ts
Due: none

Improve cacher test cases
  cacher/engines/memcached/Cacher.ts
  cacher/engines/memcached/tests/MemCacher.test.ts
  cacher/engines/memcached/tests/MemCacherErrors.test.ts
  cacher/engines/memcached/types/Options.ts
  cacher/engines/memory/tests/MemoryCacher.test.ts
  cacher/engines/redis/tests/RedisCacher.test.ts
  cacher/engines/redis/tests/RedisErrors.test.ts
  codecov.yml
Due: none

Add more tests and create env in cacher
  .gitignore
  cacher/AbstractCacher.ts
  cacher/engines/memcached/Cacher.ts
  cacher/engines/memcached/tests/.env
  cacher/engines/memcached/tests/MemCacher.test.ts
  cacher/engines/redis/Cacher.ts
  cacher/engines/redis/tests/.env
  cacher/engines/redis/tests/RedisCacher.test.ts
  cacher/engines/redis/types/Options.ts
Due: none

Fix build issues
  .github/workflows/test.yaml
  cacher/Engines.ts
  dam/engines/Engines.ts
  dam/engines/maria/errors/Connect.ts
  dam/engines/maria/errors/Query.ts
  dam/engines/postgres/Engine.ts
  dam/engines/postgres/errors/Connect.ts
  dam/engines/postgres/errors/Query.ts
  dam/query/Parameters.ts
  id/deno.json
  id/mod.ts
  id/ulid.bench.ts
  id/ulid.test.ts
  id/ulid.ts
Due: id

Fix few code smells
  cacher/AbstractCacher.ts
  cacher/engines/memcached/Cacher.ts
  cacher/engines/memory/Cacher.ts
  cacher/engines/redis/Cacher.ts
  crypt/OTP.ts
  dam/engines/AbstractEngine.ts
  dam/engines/maria/Engine.ts
  dam/engines/postgres/Engine.ts
Due: crypt

Update guardian
  guardian/Guardian.ts
  guardian/README.md
  guardian/guards/Number.ts
  guardian/guards/Object.ts
  guardian/helpers/oneOf.ts
  guardian/tests/BaseGuardian.test.ts
  guardian/tests/Guardian.test.ts
  guardian/tests/GuardianError.test.ts
  guardian/tests/guards/Array.test.ts
  guardian/tests/guards/Function.test.ts
  guardian/tests/guards/Number.test.ts
  guardian/tests/guards/String.test.ts
  guardian/tests/helpers/getType.test.ts
  guardian/tests/helpers/optional.test.ts
  guardian/tests/helpers/test.test.ts
  guardian/types/GuardianType.ts
Due: guardian

Fix test case for test
  guardian/tests/helpers/test.test.ts
Due: none

Beta build
  dam/DAM.ts
  dam/deno.json
  dam/engines/errors/Connect.ts
  dam/engines/maria/Engine.ts
  dam/engines/maria/tests/Engine.test.ts
  dam/engines/postgres/Engine.ts
  dam/engines/postgres/tests/Engine.test.ts
  dam/engines/sqlite/Engine.ts
  dam/engines/sqlite/errors/Connect.ts
  dam/engines/sqlite/errors/Query.ts
  dam/engines/sqlite/errors/mod.ts
  dam/engines/sqlite/mod.ts
  dam/engines/sqlite/tests/Engine.test.ts
  dam/engines/sqlite/types/mod.ts
  dam/errors/mod.ts
  dam/types/mod.ts
  guardian/README.md
  guardian/deno.json
  guardian/guards/Object.ts
  guardian/guards/mod.ts
  guardian/mod.ts
  guardian/tests/GuardianError.test.ts
  guardian/tests/guards/Number.test.ts
  guardian/types/GuardianType.ts
  utils/Events.ts
Due: guardian, utils

add fixtures folder for sqlite.
  dam/engines/sqlite/tests/fixtures/.gitkeep
Due: none

Set version to 1.0.0-dev for publishing
  .docs/README.md
  .docs/templates/repository/README.md
  .docs/templates/workspace/README.md
  cacher/deno.json
  crypt/deno.json
  dam/DAM.ts
  dam/deno.json
  guardian/deno.json
  id/deno.json
  restler/deno.json
  utils/deno.json
Due: crypt, guardian, id, restler, utils

Minor updates
  cacher/deno.json
  crypt/deno.json
  dam/DAM.ts
  dam/deno.json
  dam/engines/mod.ts
  dam/engines/tests/Errors.test.ts
  dam/engines/tests/assertEngine.test.ts
  dam/engines/types/Options.ts
  dam/errors/mod.ts
  dam/tests/DAM.test.ts
  dam/types/mod.ts
  guardian/deno.json
  id/deno.json
  restler/deno.json
  utils/deno.json
Due: crypt, guardian, id, restler, utils

Remove memoize for version
  dam/engines/AbstractEngine.ts
  dam/mod.ts
Due: none

Set return type
  dam/DAM.ts
Due: none

bump versions
  cacher/deno.json
  crypt/deno.json
  dam/deno.json
  dam/query/Parameters.ts
  guardian/deno.json
  id/deno.json
  restler/deno.json
  utils/deno.json
Due: crypt, guardian, id, restler, utils

fix formatting
  cacher/deno.json
  crypt/deno.json
  dam/deno.json
  guardian/deno.json
  id/deno.json
  restler/deno.json
  utils/deno.json
Due: crypt, guardian, id, restler, utils

Add Vaccine and fix lint & publish errors
  .github/ISSUE_TEMPLATE/issue.bug.yml
  .github/labeler.yml
  .github/workflows/pr-title.yaml
  cacher/deno.json
  codecov.yml
  crypt/deno.json
  dam/deno.json
  deno.json
  guardian/deno.json
  id/deno.json
  restler/deno.json
  slogger/deno.json
  slogger/formatters/maskingFormatter.ts
  slogger/formatters/string.ts
  utils/deno.json
  vaccine/README.md
  vaccine/Vaccine.ts
  vaccine/decorators/Dose.ts
  vaccine/decorators/Inoculate.ts
  vaccine/decorators/Vial.ts
  vaccine/decorators/mod.ts
  vaccine/deno.json
  vaccine/mod.ts
  vaccine/tests/Vaccine.test.ts
  vaccine/types/Prescription.ts
  vaccine/types/Vial.ts
  vaccine/types/VialModes.ts
  vaccine/types/mod.ts
Due: crypt, guardian, id, restler, utils

Fix test error message in DAM
  dam/tests/DAM.test.ts
Due: none

Fix few issues
  dam/engines/maria/Engine.ts
  dam/engines/maria/tests/Engine.test.ts
  dam/engines/maria/tests/Errors.test.ts
  dam/engines/postgres/tests/Engine.test.ts
  dam/engines/postgres/tests/Errors.test.ts
  dam/engines/sqlite/errors/Query.ts
  dam/engines/sqlite/tests/Errors.test.ts
  slogger/handlers/AbstractHandler.ts
  slogger/handlers/handler/FileHandler.ts
Due: none

Fix DAM lint issue
  dam/errors/engines/Query.ts
Due: none

Fix workflow issues
  .github/typos.toml
  dam/deno.json
  dam/errors.ts
  dam/mod.ts
  oql/asserts/Expression.ts
Due: none

Fix format issue
  dam/deno.json
Due: none

OQL Add Query
  oql/asserts/Column.test.ts
  oql/asserts/Column.ts
  oql/asserts/Expression.test.ts
  oql/asserts/Expression.ts
  oql/asserts/Query.test.ts
  oql/asserts/Query.ts
  oql/types/Query.ts
Due: none

Fix lint issues
  deno.json
  oql/asserts/Column.ts
Due: none

Fix cacher
  cacher/AbstractCacher.ts
  cacher/CacheManager.ts
  cacher/Cacher.ts
  cacher/Engines.ts
  cacher/deno.json
  cacher/engines/memcached/Cacher.ts
  cacher/engines/memcached/types/Options.ts
  cacher/engines/memory/Cacher.ts
  cacher/engines/memory/types/Options.ts
  cacher/engines/redis/Cacher.ts
  cacher/engines/redis/types/Options.ts
  cacher/errors/Base.ts
  cacher/mod.ts
  cacher/tests/Cacher.test.ts
  cacher/types/Options.ts
Due: none

Cacher finalization
  cacher/CacheManager.ts
  cacher/engines/memcached/errors/Connect.ts
  cacher/engines/memcached/errors/Operation.ts
  cacher/engines/redis/Cacher.ts
  cacher/engines/redis/errors/Connect.ts
  cacher/engines/redis/errors/Operation.ts
  cacher/engines/redis/types/Options.ts
  cacher/tests/CacheManager.test.ts
  cacher/types/Options.ts
Due: none

Fix test issues
  cacher/CacheManager.ts
  cacher/engines/memcached/tests/MemCacher.test.ts
  cacher/tests/AbstractCacher.test.ts
  cacher/tests/Errors.test.ts
  cacher/tests/Integration.test.ts
Due: none

Fix cache test cases
  cacher/CacheManager.ts
  cacher/engines/memcached/errors/Connect.ts
  cacher/engines/memcached/tests/MemCached.test.ts
  cacher/engines/memcached/tests/MemCachedErrors.test.ts
  cacher/tests/CacheManager.test.ts
Due: none

misc fixes
  cacher/deno.json
  codecov.yml
  deno.json
  restler/RESTler.ts
  slogger/Slogger.test.ts
  slogger/Slogger.ts
  utils/types/FlattenEntity.ts
Due: restler, utils, RESTler

Update guardian
  guardian/BaseGuardian.ts
  guardian/GuardianError.ts
  guardian/guards/Array.ts
  guardian/guards/Object.ts
  guardian/tests/GuardianError.test.ts
  guardian/tests/guards/Array.test.ts
  guardian/tests/guards/Object.test.ts
Due: guardian

Fix restler and guardian
  guardian/tests/GuardianError.test.ts
  restler/RESTler.ts
  restler/tests/RESTler.test.ts
Due: restler, RESTler
