Repository TundraSoft/TundraLibs: changes, and which Codecov flags are due for each by the changed paths.
All: crypt, guardian, id, restler, utils, cacher, dam, slogger, vaccine, pact, norm, oql, RESTler

Fix test failure due to format change
  utils/BaseError.test.ts
Due: none

fix project issues
  .vscode/settings.json
  guardian/Guardian.ts
Due: guardian

Update deno.json
  deno.json
Due: none

Fmt issues
  .docs/README.md
  .docs/WorkflowTesting.md
  .docs/templates/repository/README.md
  .docs/templates/workspace/README.md
  .vscode/settings.json
Due: none

Fix lint errors
  guardian/guards/ArrayGuardian.ts
Due: guardian

Handle incorrect types
  dam/engines/postgresql/Engine.test.ts
  dam/engines/postgresql/Engine.ts
Due: dam

Maria, maria... come to me my maria
  dam/engine/AbstractEngine.ts
  dam/engine/types/Query.ts
  dam/engines/maria/Engine.test.ts
  dam/engines/maria/Engine.ts
  dam/engines/maria/mod.ts
  dam/engines/maria/types/Options.ts
  dam/engines/maria/types/mod.ts
  dam/engines/mod.ts
  dam/engines/postgresql/Engine.test.ts
  dam/engines/postgresql/Engine.ts
Due: dam

Lite as a sql...
  dam/deno.json
  dam/engine/AbstractEngine.ts
  dam/engines/maria/Engine.test.ts
  dam/engines/maria/Engine.ts
  dam/engines/mod.ts
  dam/engines/postgresql/Engine.ts
  dam/engines/sqlite/Engine.test.ts
  dam/engines/sqlite/Engine.ts
  dam/engines/sqlite/README.md
  dam/engines/sqlite/mod.ts
  dam/engines/sqlite/types/Options.ts
  dam/engines/sqlite/types/mod.ts
  dam/mod.ts
Due: dam

Fix lint errors
  dam/engine/types/Query.ts
  dam/mod.ts
Due: dam

Fix test
  .github/workflows/test.yaml
Due: none

fix workflow
  .github/workflows/test.yaml
Due: none

Dam its good to have this done
  dam/DAM.test.ts
  dam/DAM.ts
  dam/engine/types/Query.ts
  dam/engines/maria/Engine.test.ts
  dam/engines/maria/Engine.ts
  dam/engines/mod.ts
  dam/engines/mongo/Engine.test.ts
  dam/engines/mongo/Engine.ts
  dam/engines/mongo/mod.ts
  dam/engines/mongo/types/Options.ts
  dam/engines/mongo/types/Query.ts
  dam/engines/mongo/types/mod.ts
  dam/engines/postgresql/Engine.test.ts
  dam/engines/postgresql/Engine.ts
  dam/engines/sample.env
  dam/engines/sqlite/Engine.test.ts
  dam/engines/sqlite/Engine.ts
  dam/mod.ts
Due: dam

Few cleaning up
  .github/workflows/test.yaml
  dam/DAM.server-version.test.ts
  dam/DAM.ts
  dam/deno.json
  dam/engine/AbstractEngine.test.ts
  dam/engine/AbstractEngine.ts
  dam/engines/maria/Engine.test.ts
  dam/engines/maria/Engine.ts
  dam/engines/mongo/Engine.ts
  dam/engines/postgresql/Engine.ts
  dam/engines/sqlite/Engine.test.ts
  dam/engines/sqlite/Engine.ts
Due: dam

Streamline tests
  dam/DAM.server-version.test.ts
  dam/DAM.test.ts
Due: none

Introduce norm
  .github/ISSUE_TEMPLATE/issue.bug.yml
  .github/ISSUE_TEMPLATE/issue.documentation.yml
  .github/ISSUE_TEMPLATE/issue.feature.yml
  .github/ISSUE_TEMPLATE/issue.performance.yml
  .github/labeler.yml
  .github/workflows/edge-release.yaml
  .github/workflows/publish.yaml
  deno.json
  norm/deno.json
  norm/mod.ts
  norm/reference/BaseModel.ts.ref
  norm/reference/DatabaseManager.ts.ref
Due: norm

Update cacher
  cacher/AbstractEngine.test.ts
  cacher/AbstractEngine.ts
  cacher/Cacher.test.ts
  cacher/Cacher.ts
  cacher/engines/memcached/Cacher.test.ts
  cacher/engines/memcached/Cacher.ts
  cacher/engines/memory/Cacher.ts
  cacher/engines/redis/Cacher.test.ts
  cacher/engines/redis/Cacher.ts
  cacher/errors/Base.test.ts
  cacher/errors/EngineError.test.ts
  deno.json
  sonar-project.properties
Due: cacher

Fix crypt
  .vscode/settings.json
  crypt/deno.json
  crypt/encrypt/decrypt.test.ts
  crypt/encrypt/decrypt.ts
  crypt/encrypt/encrypt.test.ts
  crypt/encrypt/encrypt.ts
  crypt/generators/bip39.test.ts
  crypt/generators/bip39.ts
  crypt/generators/key.test.ts
  crypt/generators/key.ts
  crypt/generators/random.test.ts
  crypt/sign/sign.test.ts
  crypt/sign/sign.ts
Due: crypt

Fix id
  id/ObjectID.test.ts
  id/nanoID.test.ts
  id/nanoID.ts
  id/sequenceID.test.ts
Due: id

Fix codecov not syncronising when new workspace is added/removed
  .github/labeler.yml
  .github/workflows/pr-title.yaml
  .github/workflows/sync-workspace-configs.yaml
  .github/workspace.ts
  codecov.yml
Due: none

Fix utils
  utils/BaseError.test.ts
  utils/BaseError.ts
  utils/envArgs.test.ts
  utils/getFreePort.ts
  utils/ipUtils.test.ts
  utils/ipUtils.ts
  utils/isInSubnet.test.ts
  utils/isInSubnet.ts
  utils/isPublicIP.ts
  utils/syslog.test.ts
  utils/syslog.ts
Due: utils

Fix restler
  restler/RESTler.ts
  restler/tests/DockerAPI.test.ts
  restler/tests/fixtures/docker/DockerAPI.ts
Due: restler, RESTler

Fix slogger & ensure workflows upload to codecov and sonar
  .github/workflows/test.yaml
  slogger/formatters/maskingFormatter.ts
  slogger/handlers/handler/ConsoleHandler.test.ts
  utils/syslog.ts
  utils/templatize.test.ts
  utils/templatize.ts
  utils/throttle.test.ts
  utils/variableReplacer.ts
Due: utils, slogger

Fix sample.env in DAM
  dam/deno.json
  dam/engines/maria/Engine.ts
  dam/engines/sample.env
Due: dam

Fix sonar workflow
  .github/workflows/test.yaml
Due: none

Add more tests
  dam/DAM.test.ts
  dam/engine/AbstractEngine.test.ts
  dam/engine/AbstractEngine.ts
  dam/engines/maria/Engine.test.ts
  dam/engines/mongo/Engine.test.ts
  dam/engines/mongo/Engine.ts
  dam/engines/postgres/Engine.test.ts
  dam/engines/postgres2/Engine.test.ts
  dam/engines/sqlite/Engine.test.ts
  dam/engines/sqlite/Engine.ts
  id/ObjectID.test.ts
  id/nanoid.bench.ts
  id/sequenceID.test.ts
  id/simpleID.test.ts
  id/ulid.test.ts
  utils/ipUtils.test.ts
  utils/isInSubnet.ts
  utils/once.bench.ts
  utils/once.test.ts
  utils/once.ts
Due: utils, dam

Optimize code
  dam/engine/AbstractEngine.ts
  dam/engines/sqlite/Engine.ts
Due: dam

Imporove coverage in restler and guardian
  .github/instructions/sonarqube_mcp.instructions.md
  crypt/OTP/HOTP.ts
  crypt/OTP/TOTP.ts
  guardian/BaseGuardian.ts
  guardian/guards/UnknownGuardian.ts
  guardian/helpers/optional.ts
  guardian/tests/guards/ObjectGuardian.test.ts
  guardian/tests/guards/UnknownGuardian.test.ts
  guardian/tests/helpers/optional.test.ts
  restler/RESTler.ts
  restler/tests/RESTler.test.ts
Due: crypt, guardian, restler, RESTler

sonarqube fixes
  .sonarlint/connectedMode.json
  crypt/encrypt/decrypt.ts
  crypt/sign/verify.ts
  guardian/guards/DateGuardian.ts
  guardian/guards/NumberGuardian.ts
  guardian/guards/ObjectGuardian.ts
  guardian/tests/guards/UnknownGuardian.test.ts
  utils/Config.ts
  utils/envArgs.ts
  utils/isSubnet.ts
  utils/memoize.ts
Due: crypt, guardian, utils

Modify sonar-project.properties
  slogger/handlers/handler/HTTPHandler.ts
  sonar-project.properties
Due: slogger

Fix sonarqube issues
  crypt/encrypt/decrypt.ts
  crypt/encrypt/encrypt.ts
  crypt/generators/random.ts
  crypt/generators/secret.ts
  crypt/sign/sign.ts
  crypt/sign/verify.ts
  guardian/GuardianError.ts
  guardian/guards/ArrayGuardian.ts
  guardian/guards/ObjectGuardian.ts
  guardian/guards/StringGuardian.ts
Due: crypt, guardian

Fix lint issues
  guardian/GuardianError.ts
Due: guardian

Fix SonarQube issues
  crypt/encrypt/decrypt.ts
  crypt/generators/secret.ts
  dam/engines/maria/Engine.test.ts
  dam/engines/mongo/Engine.test.ts
  dam/engines/mongo/Engine.ts
  dam/engines/postgres/Engine.test.ts
  dam/engines/postgres/Engine.ts
  dam/engines/postgres2/Engine.test.ts
  dam/engines/sqlite/Engine.test.ts
  guardian/guards/ObjectGuardian.ts
  guardian/guards/StringGuardian.ts
  id/ulid.ts
  slogger/LogManager.ts
  slogger/Slogger.ts
  slogger/handlers/AbstractHandler.ts
  slogger/handlers/handler/FileHandler.ts
  utils/BaseError.ts
  utils/Options.ts
  utils/syslog.ts
  utils/variableReplacer.ts
Due: crypt, guardian, id, utils, dam, slogger

Fix mariadb connection not closing
  dam/engines/maria/Engine.ts
Due: dam

FIx maria leak issue
  dam/engines/maria/Engine.test.ts
  guardian/guards/BigIntGuardian.ts
  guardian/guards/StringGuardian.ts
Due: guardian

Fix maria leak & add Unix socket tests
  dam/engines/maria/Engine.test.ts
  restler/RESTler.ts
  restler/tests/UnixSocket.test.ts
Due: restler, RESTler

Fix codecov and sonar
  .github/workflows/test.yaml
  .github/workspace.ts
  .sonarlint/analysis.json
  .vscode/settings.json
  codecov.yml
Due: none

Path conditions:
  crypt: (any of: crypt/, but not: **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**) or (any of: crypt/**.ts, but not: crypt/**.test.ts, **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**)
  guardian: (any of: guardian/, but not: **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**) or (any of: guardian/**.ts, but not: guardian/**.test.ts, **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**)
  id: (any of: id/, but not: **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**) or (any of: id/**.ts, but not: id/**.test.ts, **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**)
  restler: any of: restler/, but not: **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**
  utils: (any of: utils/, but not: **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**) or (any of: utils/**.ts, but not: utils/**.test.ts, **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**)
  cacher: (any of: cacher/, but not: **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**) or (any of: cacher/**.ts, but not: cacher/**.test.ts, **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**)
  dam: (any of: dam/, but not: **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**) or (any of: dam/**.ts, but not: dam/**.test.ts, **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**)
  slogger: (any of: slogger/, but not: **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**) or (any of: slogger/**.ts, but not: slogger/**.test.ts, **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**)
  vaccine: (any of: vaccine/, but not: **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**) or (any of: vaccine/**.ts, but not: vaccine/**.test.ts, **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**)
  pact: (any of: pact/, but not: **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**) or (any of: pact/**.ts, but not: pact/**.test.ts, **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**)
  norm: (any of: norm/, but not: **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**) or (any of: norm/**.ts, but not: norm/**.test.ts, **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**)
  oql: (any of: oql/, but not: **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**) or (any of: oql/**.ts, but not: oql/**.test.ts, **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**)
  RESTler: any of: restler/**.ts, but not: restler/**.test.ts, **/tests/**/*.ts, **/**.bench.ts, **/**.test.ts, **/fixtures/**/**, .github/**
