Repository TundraSoft/TundraLibs: changes, and which Codecov flags are due for each by the changed paths.
All: crypt, guardian, id, restler, utils, cacher, dam, slogger, vaccine, pact, norm, oql, RESTler

codecov.yml:

ignore:
  - '**/tests/**/*.ts'
  - '**/**.bench.ts'
  - '**/**.test.ts'
  - '**/fixtures/**/**'
  - .github/**
coverage:
  precision: 2
  round: down
  range: 70...90
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 70%
        threshold: 5%
    changes: true
comment:
  layout: 'reach, diff, flags, files, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 1
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: crypt
      name: crypt
      paths:
        - crypt/**.ts
        - '!crypt/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: guardian
      name: guardian
      paths:
        - guardian/**.ts
        - '!guardian/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: id
      name: id
      paths:
        - id/**.ts
        - '!id/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: restler
      name: RESTler
      paths:
        - restler/**.ts
        - '!restler/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: utils
      name: utils
      paths:
        - utils/**.ts
        - '!utils/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: cacher
      name: cacher
      paths:
        - cacher/**.ts
        - '!cacher/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: dam
      name: dam
      paths:
        - dam/**.ts
        - '!dam/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: slogger
      name: slogger
      paths:
        - slogger/**.ts
        - '!slogger/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: vaccine
      name: vaccine
      paths:
        - vaccine/**.ts
        - '!vaccine/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: pact
      name: pact
      paths:
        - pact/**.ts
        - '!pact/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: norm
      name: norm
      paths:
        - norm/**.ts
        - '!norm/**.test.ts'
      statuses:
        - type: project
          target: 75%
    - component_id: oql
      name: oql
      paths:
        - oql/**.ts
        - '!oql/**.test.ts'
      statuses:
        - type: project
          target: 75%
flags:
  crypt:
    paths:
      - crypt/
    carryforward: true
  guardian:
    paths:
      - guardian/
    carryforward: true
  id:
    paths:
      - id/
    carryforward: true
  restler:
    paths:
      - restler/
    carryforward: true
  utils:
    paths:
      - utils/
    carryforward: true
  cacher:
    paths:
      - cacher/
    carryforward: true
  dam:
    paths:
      - dam/
    carryforward: true
  slogger:
    paths:
      - slogger/
    carryforward: true
  vaccine:
    paths:
      - vaccine/
    carryforward: true
  pact:
    paths:
      - pact/
    carryforward: true
  norm:
    paths:
      - norm/
    carryforward: true
  oql:
    paths:
      - oql/
    carryforward: true

Finish expressions
  oql/asserts/Expressions/Base.ts
  oql/asserts/Expressions/Date.ts
  oql/asserts/Expressions/Numeric.ts
  oql/asserts/Expressions/String.ts
  oql/asserts/Expressions/mod.ts
Due: oql

Update Expression types
  oql/types/Expressions.ts
Due: oql

Add tests
  oql/asserts/Aggregates.ts
  oql/asserts/ColumnIdentifier.test.ts
  oql/asserts/ColumnIdentifier.ts
  oql/asserts/Expressions/Base.test.ts
  oql/asserts/Expressions/Date.test.ts
Due: oql

Add tests
  oql/asserts/Expressions/Numeric.test.ts
  oql/asserts/Expressions/String.test.ts
  oql/asserts/Expressions/mod.test.ts
  oql/types/Filter.ts
  oql/types/Query.ts
Due: oql

Minor fixes
  oql/asserts/Expressions/Expression.test.ts
  oql/asserts/Expressions/Expression.ts
  oql/asserts/Expressions/mod.ts
Due: oql

100% test coverage for expressions
  oql/asserts/Expressions/Date.test.ts
  oql/asserts/Expressions/Numeric.test.ts
  oql/asserts/Expressions/String.test.ts
Due: none

Aggregates FTW
  oql/asserts/Aggregates.test.ts
Due: none

OTP standardization
  crypt/OTP/HOTP.test.ts
  crypt/OTP/HOTP.ts
  crypt/OTP/OTP.bench.ts
  crypt/OTP/TOTP.test.ts
  crypt/OTP/TOTP.ts
  crypt/OTP/common.test.ts
  crypt/OTP/common.ts
  crypt/OTP/mod.ts
  crypt/OTP/otpauth.test.ts
  crypt/README.md
  crypt/deno.json
  crypt/generators/mod.ts
  crypt/generators/secret.bench.ts
  crypt/generators/secret.test.ts
  crypt/generators/secret.ts
Due: crypt

fix: standardize crypt
  crypt/JWT/JWT.bench.ts
  crypt/JWT/helpers.ts
  crypt/JWT/issue.test.ts
  crypt/JWT/issue.ts
  crypt/JWT/mod.ts
  crypt/JWT/types.ts
  crypt/JWT/verify.test.ts
  crypt/JWT/verify.ts
  crypt/OTP/TOTP.test.ts
  crypt/README.md
  crypt/deno.json
  crypt/digest/digest.test.ts
  crypt/digest/digest.ts
  crypt/digest/mod.ts
  crypt/digest/types.ts
  crypt/encrypt/decrypt.test.ts
  crypt/encrypt/decrypt.ts
  crypt/encrypt/encrypt.test.ts
  crypt/encrypt/encrypt.ts
  crypt/encrypt/mod.ts
  crypt/encrypt/types.ts
  crypt/generators/key.ts
  crypt/generators/mod.ts
  crypt/generators/secret.test.ts
  crypt/generators/secret.ts
  crypt/mod.ts
  crypt/sign/mod.ts
  crypt/sign/sign.test.ts
  crypt/sign/sign.ts
  crypt/sign/types.ts
  crypt/sign/verify.test.ts
  crypt/sign/verify.ts
Due: crypt

fix: formatting
  crypt/JWT/mod.ts
  crypt/README.md
Due: crypt

fix: exports not having return type
  crypt/generators/bip39.ts
  crypt/generators/key.ts
Due: crypt

feat: query and expression asserts
  oql/ROADMAP.md
  oql/asserts/Aggregates.ts
  oql/asserts/Expressions/Date.ts
  oql/asserts/Expressions/Expression.ts
  oql/asserts/Expressions/Numeric.ts
  oql/asserts/Expressions/String.ts
  oql/asserts/Filters/ExpressionOperators.test.ts
  oql/asserts/Filters/ExpressionOperators.ts
  oql/asserts/Filters/FilterOperator.test.ts
  oql/asserts/Filters/FilterOperator.ts
  oql/asserts/Filters/IMPLEMENTATION_PLAN.md
  oql/asserts/Filters/Joins.test.ts
  oql/asserts/Filters/Joins.ts
  oql/asserts/Filters/Operators.test.ts
  oql/asserts/Filters/Operators.ts
  oql/asserts/Filters/mod.ts
  oql/asserts/Query/DML/Count.test.ts
  oql/asserts/Query/DML/Count.ts
  oql/asserts/Query/DML/DML.test.ts
  oql/asserts/Query/DML/Delete.test.ts
  oql/asserts/Query/DML/Delete.ts
  oql/asserts/Query/DML/Insert.test.ts
  oql/asserts/Query/DML/Insert.ts
  oql/asserts/Query/DML/Select.test.ts
  oql/asserts/Query/DML/Select.ts
  oql/asserts/Query/DML/Update.test.ts
  oql/asserts/Query/DML/Update.ts
  oql/asserts/Query/DML/Upsert.test.ts
  oql/asserts/Query/DML/Upsert.ts
  oql/asserts/Query/DML/mod.ts
  oql/asserts/Query/README.md
  oql/asserts/Query/mod.ts
  oql/types/Expressions.ts
  oql/types/Filter.ts
  oql/types/Query.ts
Due: oql

fix: deno check issues
  crypt/JWT/JWT.bench.ts
  crypt/digest/digest.bench.ts
  crypt/digest/digest.ts
  crypt/sign/sign.ts
  crypt/sign/verify.ts
Due: crypt

fix: generator return padded value
  crypt/deno.json
  crypt/generators/secret.ts
  crypt/sign/sign.ts
  crypt/sign/verify.ts
Due: crypt

fix: dml
  oql/asserts/Query/DML/Count.test.ts
  oql/asserts/Query/DML/Count.ts
  oql/asserts/Query/DML/Delete.test.ts
  oql/asserts/Query/DML/Delete.ts
  oql/asserts/Query/DML/Insert.test.ts
  oql/asserts/Query/DML/Insert.ts
  oql/asserts/Query/DML/Select.test.ts
  oql/asserts/Query/DML/Select.ts
  oql/asserts/Query/DML/Update.test.ts
  oql/asserts/Query/DML/Update.ts
  oql/asserts/Query/DML/Upsert.test.ts
  oql/asserts/Query/DML/Upsert.ts
Due: oql

fix: otp validation
  crypt/OTP/HOTP.ts
  crypt/OTP/TOTP.test.ts
  crypt/OTP/TOTP.ts
  crypt/OTP/common.ts
  crypt/deno.json
  oql/asserts/Expressions/Numeric.test.ts
  oql/asserts/Expressions/Numeric.ts
  oql/asserts/Filters/ExpressionOperators.test.ts
  oql/asserts/Filters/ExpressionOperators.ts
  oql/asserts/Filters/FilterOperator.test.ts
  oql/asserts/Filters/FilterOperator.ts
  oql/asserts/Filters/IMPLEMENTATION_PLAN.md
  oql/asserts/Filters/Joins.test.ts
  oql/asserts/Filters/Joins.ts
  oql/asserts/Filters/mod.ts
  oql/asserts/MIGRATION.md
  oql/asserts/Query/DDL/CreateSchema.test.ts
  oql/asserts/Query/DDL/CreateSchema.ts
  oql/asserts/Query/DDL/DDL.test.ts
  oql/asserts/Query/DDL/DropSchema.test.ts
  oql/asserts/Query/DDL/DropSchema.ts
  oql/asserts/Query/DDL/README.md
  oql/asserts/Query/DDL/mod.ts
  oql/asserts/Query/DML/Count.test.ts
  oql/asserts/Query/DML/Count.ts
  oql/asserts/Query/DML/DML.test.ts
  oql/asserts/Query/DML/Delete.test.ts
  oql/asserts/Query/DML/Delete.ts
  oql/asserts/Query/DML/Insert.test.ts
  oql/asserts/Query/DML/Insert.ts
  oql/asserts/Query/DML/Select.test.ts
  oql/asserts/Query/DML/Select.ts
  oql/asserts/Query/DML/Update.test.ts
  oql/asserts/Query/DML/Update.ts
  oql/asserts/Query/README.md
  oql/asserts/Query/mod.ts
  oql/types/Filter.ts
  oql/types/Query.ts
Due: crypt, oql

fix: oql tests
  crypt/deno.json
  oql/asserts/Aggregates.test.ts
  oql/asserts/ColumnIdentifier.test.ts
  oql/asserts/Expressions/Base.test.ts
  oql/asserts/Expressions/Date.test.ts
  oql/asserts/Expressions/Expression.test.ts
  oql/asserts/Expressions/Numeric.test.ts
  oql/asserts/Expressions/String.test.ts
  oql/asserts/Filters/FilterOperator.test.ts
  oql/asserts/Filters/Joins.test.ts
  oql/asserts/Filters/Operators.test.ts
  oql/asserts/MIGRATION.md
  oql/asserts/Query/DDL/CreateSchema.test.ts
  oql/asserts/Query/DDL/CreateSchema.ts
  oql/asserts/Query/DDL/DDL.test.ts
  oql/asserts/Query/DDL/DropSchema.test.ts
  oql/asserts/Query/DDL/DropSchema.ts
  oql/asserts/Query/DDL/README.md
  oql/asserts/Query/DML/Count.test.ts
  oql/asserts/Query/DML/Count.ts
  oql/asserts/Query/DML/DML.test.ts
  oql/asserts/Query/DML/Delete.test.ts
  oql/asserts/Query/DML/Delete.ts
  oql/asserts/Query/DML/Insert.test.ts
  oql/asserts/Query/DML/Insert.ts
  oql/asserts/Query/DML/Select.test.ts
  oql/asserts/Query/DML/Select.ts
  oql/asserts/Query/DML/Update.test.ts
  oql/asserts/Query/DML/Update.ts
  oql/asserts/Query/DML/Upsert.test.ts
  oql/asserts/Query/README.md
Due: crypt, oql

feat: implement view asserts, merge schema into single file
  oql/asserts/Query/DDL/CreateSchema.test.ts
  oql/asserts/Query/DDL/CreateSchema.ts
  oql/asserts/Query/DDL/DropSchema.test.ts
  oql/asserts/Query/DDL/DropSchema.ts
  oql/asserts/Query/DDL/Schema.test.ts
  oql/asserts/Query/DDL/Schema.ts
  oql/asserts/Query/DDL/View.ts
  oql/asserts/Query/DDL/mod.ts
  oql/asserts/Query/DML/Count.ts
  oql/asserts/Query/DML/Delete.ts
  oql/asserts/Query/DML/Insert.ts
  oql/asserts/Query/DML/Select.ts
  oql/asserts/Query/DML/Update.ts
  oql/asserts/Query/DML/Upsert.ts
  oql/asserts/Query/DML/mod.ts
  oql/types/Query.ts
Due: oql

feat: Table for OQL
  oql/asserts/Query/DDL/Table.ts
  oql/asserts/Query/DDL/View.ts
  oql/asserts/Query/DDL/mod.ts
  oql/types/Common.ts
  oql/types/Query.ts
  oql/types/mod.ts
Due: oql

code refactor
  oql/asserts/Expressions/Date.ts
Due: oql

pre refactor
  oql/asserts/Query/DDL/Table.ts
  oql/asserts/Query/DML/Upsert.ts
  oql/types/Query.ts
Due: oql

interim push
  oql/asserts/Expressions/Base.ts
  oql/asserts/Query/Common.ts
  oql/asserts/Query/DDL/Table.ts
  oql/asserts/Query/DML/Common.ts
  oql/asserts/Query/DML/Count.ts
  oql/asserts/Query/DML/Delete.ts
  oql/asserts/Query/DML/Insert.test.ts
  oql/asserts/Query/DML/Insert.ts
  oql/asserts/Query/DML/Select.ts
  oql/asserts/Query/DML/Update.test.ts
  oql/asserts/Query/DML/Update.ts
  oql/asserts/Query/DML/Upsert.test.ts
  oql/asserts/Query/DML/Upsert.ts
Due: oql

Direct import for restler
  restler/RESTler.ts
  restler/errors/Base.ts
Due: restler, RESTler

undo changes
  restler/RESTler.ts
  restler/errors/Base.ts
Due: restler, RESTler

Migrate imports
  README.md
  cacher/engines/memcached/Cacher.ts
  cacher/engines/redis/Cacher.ts
  crypt/JWT/helpers.ts
  crypt/JWT/issue.ts
  crypt/JWT/verify.ts
  crypt/OTP/common.ts
  crypt/digest/digest.ts
  crypt/encrypt/decrypt.ts
  crypt/encrypt/encrypt.ts
  crypt/generators/key.ts
  crypt/generators/secret.ts
  crypt/sign/sign.ts
  crypt/sign/verify.ts
  dam/engines/maria/Engine.ts
  dam/engines/mongo/Engine.ts
  dam/engines/postgres/Engine.ts
  dam/engines/postgres2/Engine.ts
  dam/engines/sqlite/Engine.ts
  guardian/GuardianError.ts
  guardian/guards/String.ts
  id/simpleID.ts
  import_map.json
  mod.ts
  restler/RESTler.ts
  restler/types/Response.ts
  slogger/handlers/handler/ConsoleHandler.ts
  slogger/handlers/handler/FileHandler.ts
  utils/BaseError.ts
  utils/Config.ts
  utils/envArgs.ts
Due: crypt, guardian, id, restler, utils, cacher, dam, slogger, RESTler

Fix imports
  cacher/AbstractEngine.ts
  cacher/Cacher.ts
  cacher/engines/memory/Cacher.ts
  cacher/errors/Base.ts
  crypt/JWT/Error.ts
  dam/DAM.ts
  dam/engine/AbstractEngine.ts
  dam/engine/errors/EngineError.ts
  dam/engines/maria/Engine.ts
  dam/engines/mongo/Engine.ts
  dam/engines/postgres/Engine.ts
  dam/engines/postgres2/Engine.ts
  dam/engines/sqlite/Engine.ts
  dam/errors/Base.ts
  oql/types/Aggregates.ts
  oql/types/Expressions.ts
  oql/types/Filter.ts
  oql/types/Query.ts
  restler/RESTler.ts
  restler/errors/Base.ts
  slogger/LogManager.ts
  slogger/Slogger.ts
  slogger/formatters/formatters.bench.ts
  slogger/formatters/string.ts
  slogger/handlers/AbstractHandler.ts
  slogger/handlers/handler/ConsoleHandler.bench.ts
  slogger/handlers/handler/FileHandler.bench.ts
  slogger/handlers/handler/FileHandler.ts
  slogger/mod.ts
  slogger/types/Object.ts
  utils/types/FlattenEntity.ts
Due: crypt, restler, utils, cacher, dam, slogger, oql, RESTler

Fix nullable issue
  guardian/helpers/mod.ts
Due: guardian

chore(main): release crypt 1.0.0
  .release-please-manifest.json
  packages/crypt/CHANGELOG.md
Due: none

chore(main): release id 1.0.0
  .release-please-manifest.json
  packages/id/CHANGELOG.md
Due: none

chore(main): release radrouter 1.0.0
  .release-please-manifest.json
  packages/radrouter/CHANGELOG.md
Due: none

chore(main): release rpc 1.0.0
  .release-please-manifest.json
  packages/rpc/CHANGELOG.md
Due: none

chore(main): release slogger 1.0.0
  .release-please-manifest.json
  packages/slogger/CHANGELOG.md
Due: none

chore(main): release drivers 1.0.0
  .release-please-manifest.json
  packages/drivers/CHANGELOG.md
Due: none

chore(main): release cacher 1.0.0
  .release-please-manifest.json
  packages/cacher/CHANGELOG.md
Due: none

chore(main): release norm 1.0.0
  .release-please-manifest.json
  packages/norm/CHANGELOG.md
Due: none
